<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/ajatwood11">Austin Atwood</a>. He is a student at the University of Arizona Coding Bootcamp. This is his first project. 
  </p>
  <br />
  <p>
    He has been studying marketing and currently is in sales. He plans to switch careers and go into software engineering. He plans to take the knowledge he is learning and work in Europe after graduation.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me copy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Austin Atwood</h2>
      <br />
      <p>
        He applied for his program because he wanted to enhance his resume. He is excited to be a vital asset to a company. He is interested in the frontend aspect of web development. He aspires to play a key role in satisfying customer needs' for his potential company.
        <p/>
      </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />



